<div  id="globalAddArticles">
    <form ng-switch on="selectedArticleType.path" novalidate method="post" name="form" class="form" ng-submit="add(selectedArticleType)">
    
    	<label for="cat">Tipo de Articulo: </label><br />
    	<select   id="buscador" id="comboCat" class="form-control"  ng-model="selectedArticleType" ng-options="category.name for category in categories">
		</select>
   	
   		<div ng-show="selectedArticleType")>
        <label for="name">Nombre: <span ng-show="form.name.$error.required">*</span></label><br />
        <input class="form-control" type="text" ng-model="article.name" name="name" placeholder="Nombre del artículo" required /><br />

        <label for="date">Fecha: <span ng-show="form.date.$error.required">*</span></label><br />
        <input class="form-control" type="date" min="1" max="10" ng-model="article.date" name="date" /><br />
		
        <label for="description">Descripción: <span ng-show="form.description.$error.required">*</span></label><br />
        <textarea class="form-control" rows="6" cols="30" placeholder=" Añade una descripción..." ng-model="article.description" name="description" required></textarea><br />

        <!-- Temporarily disabled while not knowing how to upload an image with more data in the same form -->
        <!-- <label for="comments">Imagen: <span ng-show="form.picture.$error.required">*</span><br /></label><br /> -->
        <!-- <input class="btn btn-default" type="file" ng-model="article.picture" name="picture" /><br /> -->

        </div>
        
        <div ng-switch-when="books">
   			<label for="bookFields">Campo Propio Libro: <span ng-show="form.bookField.$error.required">*</span></label><br />
       		 <input class="form-control" type="text" ng-model="article.bookField" name="bookField" placeholder="..." required /><br />
   		</div>
   		
   		<div ng-switch-when="movies">
   			<label for="movieFields">Campo Propio Pelicula: <span ng-show="form.movieField.$error.required">*</span></label><br />
        	<input class="form-control" type="text" ng-model="article.movieField" name="movieField" placeholder="..." required /><br />
   		</div>
   		
   		<div ng-switch-when="comics">
   			<label for="comicFields">Campo Propio Comic: <span ng-show="form.comicField.$error.required">*</span></label><br />
        	<input class="form-control" type="text" ng-model="article.comicField" name="comicField" placeholder="..." required /><br />
   		</div>
   		
   		<div ng-switch-when="musicstorages">
   			<label for="musicFields">Campo Propio Musica: <span ng-show="form.musicField.$error.required">*</span></label><br />
        	<input class="form-control" type="text" ng-model="article.musicField" name="musicField" placeholder="..." required /><br />
   		</div>
        
        
        <div id="botonsSubmitCancelar">
            <button class="btn btn-default" name="botonSubmitAlta" type="submit" title="Pulsa para dar de alta el artículo" ng-disabled="form.$error.required">Guardar</button>
            <button class="btn btn-default" name="Cancelar" ng-click=reset()>Cancelar</button>
        </div>
    </form>
</div>
