<div class="row">
    <div class="article-form-container">
        <form ng-switch on="category.type" novalidate method="post" name="form" class="form" ng-submit="add(category)">
        
            <label for="cat">Tipo de Articulo:</label><br />
            <select id="cat" class="form-control" ng-model="category" ng-options="category.name for category in categories"></select>
        
            <div ng-show="category">
                <label for="name">Nombre: <span ng-show="form.name.$error.required">*</span></label><br />
                <input class="form-control" type="text" ng-model="article.name" name="name" placeholder="Nombre del artículo" required /><br />
                <label for="date">Fecha: <span ng-show="form.date.$error.required">*</span></label><br />
                <input class="form-control datepicker" type="text" ng-model="article.date" name="date" required /><br />
                <label for="description">Descripción: <span ng-show="form.description.$error.required">*</span></label><br />
                <textarea class="form-control" rows="6" cols="30" placeholder=" Añade una descripción..." ng-model="article.description" name="description" required></textarea><br />
            </div>
        
            <div ng-switch-when="book">
                <label for="bookFields">Campo Propio Libro: <span ng-show="form.bookField.$error.required">*</span></label><br />
                <input class="form-control" type="text" ng-model="article.bookField" name="bookField" placeholder="..." /><br />
            </div>
        
            <div ng-switch-when="movie">
                <label for="movieFields">Campo Propio Pelicula: <span ng-show="form.movieField.$error.required">*</span></label><br />
                <input class="form-control" type="text" ng-model="article.movieField" name="movieField" placeholder="..." /><br />
            </div>
        
            <div ng-switch-when="comic">
                <label for="comicFields">Campo Propio Comic: <span ng-show="form.comicField.$error.required">*</span></label><br />
                <input class="form-control" type="text" ng-model="article.comicField" name="comicField" placeholder="..." /><br />
            </div>
        
            <div ng-switch-when="music">
                <label for="musicFields">Campo Propio Musica: <span ng-show="form.musicField.$error.required">*</span></label><br />
                <input class="form-control" type="text" ng-model="article.musicField" name="musicField" placeholder="..." /><br />
            </div>
        
            <div class="buttons">
                <button class="btn btn-default" name="botonSubmitAlta" type="submit" title="Pulsa para dar de alta el artículo" ng-disabled="form.$error.required">Guardar</button>
                <button class="btn btn-default" name="Cancelar" ng-click=reset()>Cancelar</button>
            </div>
        
            <script>
                $('.datepicker').datepicker({ autoclose: true, format: 'yyyy/mm/dd' })
            </script>
        </form>
    </div>
</div>