<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>¡Cuidado!</strong> Web en versión pre-alpha, sin funcionalidades básicas implementadas.
</div>
<div class="jumbotron">
    <h1>DAATarde</h1>
    <p>Proyecto para la asignatura de DAA (Desarrollo Ágil de Aplicaciones). Grupo de Tarde.</p>
    <p>
    Integrantes del grupo:
    <ul>
        <li>Fernández Cuñarro, Iago</li>
        <li>Fernández Nandín, Abel</li>
        <li>Gil Rodríguez, Cristina</li>
        <li>Gutiérrez Jácome, Alberto</li>
        <li>Martínez Perales, Alfredo José</li>
        <li>Novoa Rodigari, Pablo</li>
        <li>Rodríguez Armada, Lara</li>
        <li>Trigo Collazo, Pedro</li>
    </ul>
    </p>
    <p>
    <a class="btn btn-primary btn-lg" href="https://github.com/michada/DAATarde">
        <i class="fa fa-github fa-lg"></i> Ver en Github
    </a>
    </p>
</div>
