<div class="row">
    <div class="navbar navbar-default" role="navigation">
       <div class="col-xs-4">
           <ul class="nav navbar-nav navbar-left">
               <li><a href="#/articles/add"><i class="fa fa-plus"></i> Añadir Artículo</a></li>
           </ul>
       </div>
       <div class="col-xs-8">
           <form class="nav navbar-form navbar-right" role="search" ng-controller="SearchController">
               <div class="input-group">
                   <input type="text" class="form-control" placeholder="Búsqueda" ng-model="terms" ng-keypress="enter($event)">
                   <div class="input-group-btn">
                       <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                           {{ selectedCategory.name }} <span class="caret"></span>
                       </button>
                       <ul class="dropdown-menu pull-right">
                           <li ng-repeat="category in categories"><a ng-click="search(category)">{{ category.name }}</a></li>
                       </ul>
                   </div>
               </div>
           </form>
       </div>
    </div>
</div>